### Assignment-04 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [1]:
list0=[]
print(list)

[]

Create a list of your favorite colors and print it.

In [5]:
fav_color=['Orange', 'Mahroon', 'Mustard']
print(fav_color)

['Orange', 'Mahroon', 'Mustard']

Create a list that includes a mix of data types (integers, strings, floats).

In [6]:
mix_dt=['Maham age is', 21,0.0 ]
print(mix_dt)

['Maham age is', 21, 0.0]

Access the first element of a list.

In [7]:
first=[2,4,6,8]
print(first[0])

2

Access the last element of a list.

In [8]:
last=[3,6,9,12]
print(last[-1])

12

 Access the second and third elements of a list.

In [10]:
sec_thir=[4,6,8,12]
print(sec_thir[1:3])

[6, 8]


Slice a list to extract the first three elements.

In [11]:
first_three=[2,4,6,8,9,3]
print(first_three[:3])

[2, 4, 6]

Slice a list to extract the last three elements.

In [1]:
last_three=[2,4,6,8,9,3]
print(last_three[-3:])

[8, 9, 3]

Slice a list to get every second element.

In [13]:
sec_list=[2,4,8,1,3]
print(sec_list[1:2])

[4]

Reverse a list using slicing.

In [20]:
rev_list=[1,2,3,4,5]
print(rev_list[::-1])

[5, 4, 3, 2, 1]

 Create two lists and concatenate them.

In [21]:
list1=[2,4,6,8]
list2=[1,3,5,7]
print(list1+list2)

[2, 4, 6, 8, 1, 3, 5, 7]


Repeat a list multiple times using the repetition operator

In [22]:
rep_list=[21,64,96,83]
print(rep_list*5)

[21, 64, 96, 83, 21, 64, 96, 83, 21, 64, 96, 83, 21, 64, 96, 83, 21, 64, 96, 83]

Add a new element to the end of a list using the append() method.

In [26]:
app_list=[2,4,6,8]
app_list.append(5)
print(app_list)

[2, 4, 6, 8, 5]


Extend a list with elements from another list using the extend() method.

In [28]:
list3= [1, 2, 3]
list4 = [4, 5, 6]
list3.extend(list4)
print(list3)

[1, 2, 3, 4, 5, 6]

Insert an element at a specific index in a list using the insert() method.

In [30]:
my_list1 = [1, 2, 3, 4, 5, 6, 8]
my_list1.insert(2, 6)
print(my_list1)

[1, 2, 6, 3, 4, 5, 6, 8]

 Remove the last element from a list using the pop() method.

In [31]:
list5=[2,4,3,5,8,9]
list5.pop(-1)
print(list5)

[2, 4, 3, 5, 8]

Remove a specific element from a list using the remove() method.

In [32]:
list6=[2,4,3,5,8,9]
list6.remove(4)
print(list6)

[2, 3, 5, 8, 9]

Clear all elements from a list.

In [33]:
c_list=[36,48,32,96]
c_list.clear()
print(c_list)

[]

Delete an element at a specific index using the del statement.

In [37]:
d_list=[1,3,5,2,4]
del d_list[2]
print(d_list)

[1, 3, 2, 4]

Convert a string to a list of characters and vice-versa.

In [44]:
char_list = ['H', 'e', 'l', 'l', 'o', ',', ' ', 'M', 'a', 'h', 'a', 'm']
my_string = ''.join(char_list)
print(my_string)

Hello, World!

In [45]:
#Sort a list in ascending order using the sort() method.

asc_list=[36,44,93,78,12]
asc_list.sort()
print(asc_list)

[12, 36, 44, 78, 93]

In [ ]:

#Sort a list in descending order using the sort() method.

In [46]:
my_list = [5, 2, 9, 1, 5, 7, 3]
my_list.sort(reverse=True)
print(my_list)

[9, 7, 5, 5, 3, 2, 1]

Reverse the order of a list using the reverse() method.

In [47]:
rev_list=[2,4,9,7,3]
rev_list.reverse()
print(rev_list)

[3, 7, 9, 4, 2]

Check if an element is present in a list using the in operator.

In [50]:
my_list = [1, 2, 3, 4, 5, 8, 9, 12]
element_to_check = 10
if element_to_check in my_list:
    print(element_to_check, "is present in the list.")
else:
    print(element_to_check, "is not present in the list.")

10 is not present in the list.

Compare two lists to see if they are equal in both value and identity.

In [51]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]
value_equal = list1 == list2
identity_equal = list1 is list2
print("Are the lists equal in value?", value_equal)
print("Are the lists equal in identity?", identity_equal)

Are the lists equal in value? True
Are the lists equal in identity? False

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [52]:
# Create a list
original_list = [1, 2, [3, 4]]

# Create a shallow copy of the list
shallow_copy = original_list.copy()

# Modify an element in the original list
original_list[0] = 10

# Modify an element within the nested list in the original list
original_list[2][0] = 30

# Print the original list and the shallow copy
print("Original List:", original_list)
print("Shallow Copy:", shallow_copy)

Original List: [10, 2, [30, 4]]
Shallow Copy: [1, 2, [30, 4]]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [54]:
import copy
original_list = [1, 2, [3, 4]]
deep_copy = copy.deepcopy(original_list)
original_list[0] = 10
original_list[2][0] = 30
print("Original List:", original_list)
print("Deep Copy:", deep_copy)

Original List: [10, 2, [30, 4]]
Deep Copy: [1, 2, [3, 4]]

Pickle and Unpickle a list and display its content.

In [55]:
import pickle
my_list = [1, 2, 3, 4, 5]
with open('my_list.pkl', 'wb') as file:
    pickle.dump(my_list, file)

In [56]:
with open('my_list.pkl', 'rb') as file:
    loaded_list = pickle.load(file)
print(loaded_list)

[1, 2, 3, 4, 5]