### Assignment-05 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [2]:
set1={}
print(set1)

{}

  Create a set of your favorite colors and print it.

In [4]:
set1={'mustard','blue','orange'}
print(set1)

{'mustard', 'orange', 'blue'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [7]:
set2={'Maham',22,'6.0'}
print(set2)

{'Maham', '6.0', 22}

Access the elements of a set using a loop and print each element.

In [11]:
set2={'Maham',22,'6.0'}
for Maham in set2:
    print(Maham)

Maham
6.0
22

add a new element to a set using the add() method.

In [12]:
set2={'Maham',22,'6.0'}
set2.add('Zain')
print(set2)

{'Maham', 'Zain', '6.0', 22}

Add multiple elements to a set using the update() method.

In [16]:
set2={'Maham',22,'6.0'}
add={4,5,6}
set2.update(add)
print(set2)

{'Maham', 4, 5, 22, 6, '6.0'}

Remove and return an arbitrary element from a set using the pop() method.

In [17]:
set2={'Maham',22,'6.0'}
set2.pop()
print(set2)

{'6.0', 22}

Remove a specific element from a set using the remove() method.

In [18]:
set2={'Maham',22,'6.0'}
set2.remove('Maham')
print(set2)

{'6.0', 22}

Remove a specific element from a set using the discard() method.

In [19]:
set2={'Maham',22,'6.0'}
set2.discard(22)
print(set2)

{'Maham', '6.0'}

Convert a string to a set of unique characters.

In [20]:
# Sample string
my_string = "hello world"

# Convert the string to a set of unique characters
unique_characters_set = set(my_string)

# Print the result
print("String as Set of Unique Characters:", unique_characters_set)

String as Set of Unique Characters: {'e', 'd', 'r', 'w', 'o', 'l', 'h', ' '}

Convert a set of characters to a string.

In [29]:
# Sample set of characters
characters_set = {'e', 'd', 'r', 'w', 'o', 'l', 'h', ' '}

# Convert the set to a string using the join() method
result_string = ''.join(characters_set)

# Print the result
print("Set as String:", result_string)

Set as String: edrwolh

Use the clear() method to remove all elements from a set.

In [30]:
set2={'Maham',22,'6.0'}
set2.clear()
print(set2)

set()

Use the copy() method to create a shallow copy of a set.

In [31]:
set2={'Maham',22,'6.0'}
set2.copy()
print(set2)

{'Maham', '6.0', 22}

Use the difference() method to find the difference between two sets.

In [32]:
set2={4,5,6}
set3={9,4,7}
diff=set2.difference (set3)
print(diff)

{5, 6}

Create two sets and find their union.

In [36]:
set2={4,5,6}
set3={9,4,7}
un=set2. union(set3)
print(un)

{4, 5, 6, 7, 9}

    Create two sets and find their intersection.

In [37]:
set2={4,5,6}
set3={9,4,7}
un=set2. intersection(set3)
print(un)

{4}

 Create two sets and find their difference.

In [38]:
set2={4,5,6}
set3={9,4,7}
un=set2. difference(set3)
print(un)

{5, 6}

    Create two sets and find their symmetric difference.

In [39]:
set2={4,5,6}
set3={9,4,7}
un=set2. symmetric_difference(set3)
print(un)

{5, 6, 7, 9}

Check if one set is a subset of another.

In [40]:
set2={4,5,6}
set3={9,4,7}
un=set2. issubset(set3)
print(un)

False

    Check if one set is a superset of another.

In [41]:
set2={4,5,6}
set3={9,4,7}
un=set2. issuperset(set3)
print(un)

False

    Check if two sets are disjoint (have no common elements).

In [ ]:
set2={4,5,6}
set3={9,4,7}
un=set2. isdisjoint(set3)
print(un)