### Assignment-05 (Tuple)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty tuple and print it.

In [1]:
tup=()
print(tup)

()

    Create a tuple of your favorite fruits and print it.

In [2]:
tup=('orange', 'mango','kivi')
print(tup)

('orange', 'mango', 'kivi')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [3]:
tup=('Maham',21,'6.0')
print(tup)

('Maham', 21, '6.0')

  Access the first element of a tuple.

In [4]:
tup=('Maham',21,'6.0')
firs=tup[0]
print(firs)

Maham

    Access the last element of a tuple.

In [5]:
tup=('Maham',21,'6.0')
firs=tup[-1]
print(firs)

6.0

Access the second and third elements of a tuple.

In [9]:
tup=('Maham',21,'6.0')
firs=tup[1]
sec=tup[2]
print(firs,sec)

21 6.0


    Slice a tuple to extract the first three elements.

In [11]:
tup=('Maham',21,'6.0','Zain')
firs=tup[:3]
print(firs)

('Maham', 21, '6.0')

Slice a tuple to extract the last three elements.

In [16]:
tup=('Maham',21,'6.0','Zain')
firs=tup[-3:]
print(firs)

(21, '6.0', 'Zain')

   Slice a tuple to get every second element.

In [17]:
tup=('Maham',21,'6.0','Zain')
firs=tup[1:2]
print(firs)

(21,)

    Reverse a tuple using slicing.

In [22]:
tup=('Maham',21,'6.0','Zain')
firs=tup[::-1]
print(firs)

('Zain', '6.0', 21, 'Maham')

Create two tuples and concatenate them.

In [23]:
tup1=(2,4,6)
tup2=(1,3,5)
tup=tup1+tup2
print(tup)

(2, 4, 6, 1, 3, 5)

    Repeat a tuple multiple times using the repetition operator.

In [24]:
tup1=(2,4,6)
tup=tup1*3
print(tup)

(2, 4, 6, 2, 4, 6, 2, 4, 6)

Find the index of a specific element in a tuple using the index() method.

In [25]:
my_tuple = (10, 20, 30, 40, 50)
element_to_find = 30
index_of_element = my_tuple.index(element_to_find)

print("Tuple:", my_tuple)
print("Index of", element_to_find, ":", index_of_element)

Tuple: (10, 20, 30, 40, 50)
Index of 30 : 2

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [26]:
my_tuple = (10, 20, 30, 40, 30, 50, 30)
element_to_count = 30
count_of_element = my_tuple.count(element_to_count)

print("Tuple:", my_tuple)
print("Count of", element_to_count, ":", count_of_element)

Tuple: (10, 20, 30, 40, 30, 50, 30)
Count of 30 : 3

Sort a tuple of numbers in ascending order.

In [27]:
my_tuple = (45, 12, 67, 23, 89, 34)

# Create a new tuple with elements sorted in ascending order
sorted_tuple = tuple(sorted(my_tuple))

print("Original tuple:", my_tuple)
print("Sorted tuple:", sorted_tuple)

Original tuple: (45, 12, 67, 23, 89, 34)
Sorted tuple: (12, 23, 34, 45, 67, 89)

    Sort a tuple of strings in alphabetical order.

In [28]:
my_tuple = ("apple", "orange", "banana", "grape", "kiwi")

# Create a new tuple with elements sorted in alphabetical order
sorted_tuple = tuple(sorted(my_tuple))

print("Original tuple:", my_tuple)
print("Sorted tuple:", sorted_tuple)

Original tuple: ('apple', 'orange', 'banana', 'grape', 'kiwi')
Sorted tuple: ('apple', 'banana', 'grape', 'kiwi', 'orange')

Sort a tuple of tuples based on the second element of each inner tuple.

In [29]:
my_tuple = ((1, 30), (3, 20), (2, 50), (4, 10))

# Create a new tuple with elements sorted based on the second element of each inner tuple
sorted_tuple = tuple(sorted(my_tuple, key=lambda x: x[1]))

print("Original tuple:", my_tuple)
print("Sorted tuple:", sorted_tuple)

Original tuple: ((1, 30), (3, 20), (2, 50), (4, 10))
Sorted tuple: ((4, 10), (3, 20), (1, 30), (2, 50))

Compare two tuples to see if they are equal in both value and identity.

In [31]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = tuple1  # tuple3 refers to the same object as tuple1
are_equal_values = tuple1 == tuple2

# Check for identity
are_identical = tuple1 is tuple2
are_identical_with_alias = tuple1 is tuple3

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Tuple 3:", tuple3)
print("Are equal in values:", are_equal_values)
print("Are identical:", are_identical)
print("Are identical with alias:", are_identical_with_alias)

Tuple 1: (1, 2, 3)
Tuple 2: (1, 2, 3)
Tuple 3: (1, 2, 3)
Are equal in values: True
Are identical: False
Are identical with alias: True

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [ ]:
# Original tuple with a list as an element
original_tuple = ([1, 2], 3, 4)

# Create a shallow copy of the tuple
shallow_copy_tuple = tuple(original_tuple)

print("Original tuple:", original_tuple)
print("Shallow copy tuple:", shallow_copy_tuple)

# Modify the list inside the original tuple
original_tuple[0][0] = 100

print("After modifying original tuple:")
print("Original tuple:", original_tuple)
print("Shallow copy tuple:", shallow_copy_tuple)

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [32]:
import copy

# Original nested tuple with a list as an element
original_nested_tuple = ([1, 2], 3, 4)

# Create a deep copy of the nested tuple
deep_copy_nested_tuple = copy.deepcopy(original_nested_tuple)

print("Original nested tuple:", original_nested_tuple)
print("Deep copy nested tuple:", deep_copy_nested_tuple)

# Modify the list inside the original nested tuple
original_nested_tuple[0][0] = 100

print("After modifying original nested tuple:")
print("Original nested tuple:", original_nested_tuple)
print("Deep copy nested tuple:", deep_copy_nested_tuple)

Original nested tuple: ([1, 2], 3, 4)
Deep copy nested tuple: ([1, 2], 3, 4)
After modifying original nested tuple:
Original nested tuple: ([100, 2], 3, 4)
Deep copy nested tuple: ([1, 2], 3, 4)

    Pickle a tuple and save it to a file.

In [33]:
import pickle

# Create a tuple to pickle
my_tuple = (1, 2, 3, 'hello', [4, 5, 6])

# Specify the file path
file_path = 'pickled_tuple.pkl'

# Pickle the tuple and save it to a file
with open(file_path, 'wb') as file:
    pickle.dump(my_tuple, file)

print("Tuple pickled and saved to", file_path)

Tuple pickled and saved to pickled_tuple.pkl

    Unpickle a tuple from a file and display its content.

In [34]:
file_path = 'pickled_tuple.pkl'

# Load the pickled tuple from the file
with open(file_path, 'rb') as file:
    loaded_tuple = pickle.load(file)

print("Tuple loaded from", file_path)
print("Loaded tuple:", loaded_tuple)

Tuple loaded from pickled_tuple.pkl
Loaded tuple: (1, 2, 3, 'hello', [4, 5, 6])