### Assignment-02
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Declare and print a variable with the name "name" containing your name.

In [1]:
name="Maham"
print(name)

Maham

Create two variables, x and y, and swap their values without using a third variable.

In [3]:
x=5
y=9
x,y=y,x
print(x,y)

9 5

Calculate the area of a rectangle with length and width stored in variables.

In [1]:
l=9
w=2
area=l*w
print(area)

18

Create a variable with a long string (multi-line) and print its length.

In [3]:
n='walk into the memories'
print(len(n))

22

Create a variable to store your favorite number and print it.

In [4]:
num=14
print(num)

14

Declare and assign values to multiple variables to represent the sides of a triangle. Calculate and print its perimeter.

In [5]:
side1=4
side2=9
side3=76
perimeter=side1+side2+side3
print(perimeter)

89

Store the price of an item in one variable and the quantity in another. Calculate and print the total cost.

In [7]:
price=3200
quantity=36
cost=price*quantity
print(cost)

115200

Declare a constant variable for the value of pi (Ï€) and use it to calculate the circumference of a circle with a given radius.

In [9]:
r=5
pi=3.14
circum=pi*r*2
print(circum)

31.400000000000002

Calculate the sum of two numbers, a and b.

In [10]:
a=14
b=93
sum=a+b
print(sum)

107

Calculate the product of two numbers, a and b.

In [11]:
a=14
b=93
p=a*b
print(p)

1302

Calculate the result of dividing a by b (with proper error handling for division by zero).

In [12]:
a=14
b=93
div=a/b
print(div)

0.15053763440860216

Calculate the square of a number x.

In [13]:
x=44
sqr=x*x
print(sqr)

1936

Calculate the remainder when a is divided by b.

In [14]:
a=9
b=4
rem=a%b
print(rem)

1

 Calculate the result of dividing 17 by 3 and print the quotient and remainder.

In [15]:
dividend = 17
divisor = 3
quotient = dividend // divisor
remainder = dividend % divisor
print("Quotient is:", quotient)
print("Remainder is:", remainder)

Quotient is: 5
Remainder is: 2

Calculate the area of a square with a given side length.

In [16]:
side_length=9
area=side_length**2
print(area)

81

Calculate the average of five numbers.

In [17]:
num1=6
num2=4
num3=9
num4=5
num5=8
total=num1+num2+num3+num4+num5
count=5
avg=total/count
print(avg)

6.4

Create a variable with a boolean value and print its opposite value.

In [19]:
bool=True
no=not bool
print(no)

False

Store your birth year in a variable and calculate your age.

In [20]:
birth_year=2002
current_year=2023
age=current_year-birth_year
print(age)

21

Create a variable with an integer and convert it to a float.

In [22]:
var=5
var1=float(var)
print(var1)

5.0

Create a variable with a float and convert it to an integer.

In [25]:
var=3.14
var1=int(var)
print(var)

3.14

Create a variable with a string that represents an integer and convert it to an integer.

In [28]:
var="164"
var1=int(var)
print(var1)

164

Create a variable with a string that represents a float and convert it to a float.

In [29]:
var="164"
var1=float(var)
print(var1)

164.0

Create a variable with a number and convert it to a string.

In [30]:
var=43
var1=str(var)
print(var1)

43

Calculate the absolute value of a number.

In [31]:
number = -5
absolute_value = abs(number)
print("The absolute value of is:", absolute_value)

The absolute value of is: 5

Calculate the square root of a number.

In [32]:
num=14
sqr=num*num
print(sqr)

196

Calculate the value of a raised to the power of b.

In [34]:
a = 2 
b = 3  
result = a ** b
print(a, "raised to the power of", b, "is:", result)

2 raised to the power of 3 is: 8

Round a float to the nearest integer.

In [33]:
my_float = 3.7
rounded_integer = round(my_float)
print("Rounded integer:", rounded_integer)

Rounded integer: 4

Combine multiple conditions using logical operators and print the result.

In [35]:
x = 5
y = 10
condition1 = (x > 3) and (y < 15)  
condition2 = (x < 3) or (y > 15)   
print("Condition 1 :", condition1)
print("Condition 2 :", condition2)

Condition 1 : True
Condition 2 : False

Generate a random number between 1 and 100.**(challenging)**

In [36]:
import random
random=random.randint(1,100)
print(random)

16