### Assignment-03 (Strings)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create a string variable with your name and print it.

In [1]:
name='Maham'
print(name)

Maham

Define a multiline string that includes line breaks and print it.

In [2]:
multi_string='''
This is multiline string.
I myself doing it
'''
print(multi_string)

This is multiline string.
I myself doing it

Access the first character of a string.

In [3]:
str1='Maham'
print(str1[0])

M

Access the last character of a string.

In [4]:
str2='Maham Asif'
print(str2[-1])

f

Access the second to the fifth character of a string.

In [8]:
str3='Lifes goes on'
print(str3[1:5])

ifes

Attempt to change a character within an existing string and explain the result.

In [12]:


str4='Maham'
str4[1]='J'ng 

#SStrings are immutable. They don't allow changings in existing strings.

TypeError: 'str' object does not support item assignment

In [13]:
str4='Maham'
new='J'+str4[1:]
print(new)
#Here it will print this

Jaham


Slice a string to obtain the first 3 characters.

In [14]:
str5='Smooth'
print(str5[:3])

Smo

Slice a string to obtain the last 4 characters.

In [16]:
str6='Smooth'
print(str6[-4:])

ooth

Slice a string to get every second character.

In [18]:
str7='Smooth'
print(str7[1:2])

m

Reverse a string using slicing.

In [19]:
rev_str='Smooth'
print(rev_str[::-1])

htoomS

Create two string variables and concatenate them.

In [20]:
str1='Maham'
str2='Asif'
print(str1+str2)

MahamAsif

Concatenate a string with a number (convert the number to a string first).

In [22]:
my_string = "The number is: "
my_number = 42
result = my_string + str(my_number)
print(result)

The number is: 42

Generate a string that repeats "abc" 10 times.

In [24]:
rep_str='abc'
print(rep_str*10)

abcabcabcabcabcabcabcabcabcabc

Create a string containing a repeating pattern of your choice.

In [25]:
rep='Smooth Like'
print ('Smo'*5)

SmoSmoSmoSmoSmo

Convert a string to lowercase using the lower() method.

In [26]:
up_str='MAHAM'
print(up_str.lower())

maham


Convert a string to uppercase using the upper() method.

In [27]:
up_str='butter'
print(up_str.upper())

BUTTER

Remove leading and trailing whitespace from a string using the strip() method.

In [28]:
my_string = "   This is a string with leading and trailing whitespace.   "
trimmed_string = my_string.strip()
print(trimmed_string)

This is a string with leading and trailing whitespace.

Check if a string starts with a specific prefix using the startswith() method.

In [29]:
my_string = "Hello, World!"
prefix = "Hello"
if my_string.startswith(prefix):
    print("The string starts with the prefix.")
else:
    print("The string does not start with the prefix.")

The string starts with the prefix.

Split a string into a list of words using the split() method.

In [31]:
str='Maham is herself'
print(str.split())

['Maham', 'is', 'herself']

Join a list of words into a single string using the join() method.

In [34]:
str=['Maham', 'is', 'herself']
print(''.join(str))

Mahamisherself